.divServices {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-bottom: 20px;
}

.plans {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 700px;
  height: 300px;
  margin-bottom: 20px;
  transform: rotate(360deg); /* Équivalent à rotateZ(360 deg) */
}

@media (min-width: 375px) {
  .services {
    width: 350px;
  }
}

@media (min-width: 425px) {
  .services {
    width: 400px;
  }
}
@media (min-width: 475px) {
  .services {
    width: 450px;
  }
}
@media (min-width: 530px) {
  .services {
    width: 500px;
  }
}
@media (min-width: 600px) {
  .services {
    width: 550px;
  }
}

@media (min-width: 768px) {
  .services {
    width: 350px;
    height: 250px;
  }
}
@media (min-width: 1024px) {
  .services {
    width: 475px;
    height: 375px;
  }
}
@media (min-width: 1440px) {
  .services {
    width: 600px;
    height: 500px;
  }
}
