:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --backgroundColor: #eceae8;
  --Footer: rgba(74, 13, 11, 80);
  --Button: rgba(124, 99, 29, 80);
}
body {
  margin: 0;
  background-color: var(--backgroundColor);
}
.NavBarTop {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 100;
}
.NavBarScrolled {
  background: var(--Footer);
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 100;
  transition: var(--Footer) 1s ease-in-out;
  transition-property: var(--Footer);
  transition-behavior: normal;
  transition-duration: 1s;
  transition-delay: 0s;
  transition-timing-function: ease-in;
}

@media (min-width: 768px) {
  .sectionPlane {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}

@media (min-width: 1024px) {
  .sectionPlane {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}
